{% render 'partials/head3.liquid' %}

<header class="page-header">
    <a href="/collectie" class="back-button">← Terug</a>
    <h1>Na de bloei</h1>
    <p class="progress">14/14</p>
</header>

<main>

<section class="plant-grid" aria-label="Planten collectie">
{% comment %} {% for bloemen in bloemen %} {% endcomment %}
<a href="#" class="plant-card green">
<h2>Teunisbloem</h2>
<img src="/assets/2447179.jpg" alt="Teunisbloem plant in het veld">
</a>
{% comment %} {% endfor %} {% endcomment %}
<a href="#" class="plant-card yellow">
<h2>Duizendblad</h2>
<img src="/assets/2447179.jpg" alt="Duizendblad bladeren">
</a>

<a class="plant-card yellow">
<h2>Darwin Zuurbes</h2>
<img src="/assets/2447179.jpg" alt="Darwin zuurbes met oranje bessen">
</a>

<a class="plant-card purple">
<h2>Witte dovenetel</h2>
<img src="/assets/2447179.jpg" alt="Witte dovenetel bloemen">
</a>

<a class="plant-card green">
<h2>Wilde Marjolein</h2>
<img src="/assets/2447179.jpg" alt="Wilde marjolein bladeren">
</a>

<a class="plant-card yellow">
<h2>Valeriaan</h2>
<img src="/assets/2447179.jpg" alt="Valeriaan bloemen">
</a>

<a class="plant-card yellow">
<h2>Goede salie</h2>
<img src="/assets/2447179.jpg" alt="Goede salie plant">
</a>

<a class="plant-card purple">
<h2>Citroenmelisse</h2>
<img src="/assets/2447179.jpg" alt="Citroenmelisse bladeren">
</a>

<article class="plant-card green">
<h2>Smalle weegbree</h2>
<img src="/assets/2447179.jpg" alt="Smalle weegbree">
</article>

<a class="plant-card yellow">
<h2>Grote klaproos</h2>
<img src="/assets/2447179.jpg" alt="Grote klaproos bloem">
</a>

<a class="plant-card purple">
<h2>Kamille</h2>
<img src="/assets/2447179.jpg" alt="Kamille bloemen">
</a>

<a class="plant-card green">
<h2>Duizendguldenkruid</h2>
<img src="/assets/2447179.jpg" alt="Duizendguldenkruid">
</a>

<a class="plant-card yellow">
<h2>Gewone rolklaver</h2>
<img src="/assets/2447179.jpg" alt="Gewone rolklaver bloemen">
</a>

<a class="plant-card purple">
<h2>Hondsdraf</h2>
<img src="/assets/2447179.jpg" alt="Hondsdraf bladeren">
</a>

</section>

</main>
<nav class="bottom-nav" aria-label="Hoofd navigatie">

<a href="#" class="nav-item">
🏠
<span>Home</span>
</a>

<a href="#" class="nav-item">
🧭
<span>Veldverkenner</span>
</a>

<a href="#" class="nav-item">
📰
<span>Nieuws</span>
</a>

<a href="/collectie" class="nav-item active">
🌸
<span>Collectie</span>
</a>

</nav>
  
{% render 'partials/foot.liquid' %}