{% render 'partials/head3.liquid' %}

<header class="page-header">
    <a href="/collectie" class="back-button">← Terug</a>
    <h1>In de bloei</h1>
    <p class="progress">14/14</p>
</header>

<main>

<section class="plant-grid" aria-label="Planten collectie">
{% comment %} {% for bloemen in bloemen %} {% endcomment %}
 {% for plant in plant %}
<a href="#" class="plant-card green">
<h2> {{ plant.latin }}</h2>
<img src="/assets/2447179.jpg" alt="Teunisbloem plant in het veld">
</a>
     {% endfor %}


</section>

</main>

<nav class="bottom-nav" aria-label="Hoofd navigatie">

<a href="#" class="nav-item">
🏠
<span>Home</span>
</a>

<a href="#" class="nav-item">
🧭
<span>Veldverkenner</span>
</a>

<a href="#" class="nav-item">
📰
<span>Nieuws</span>
</a>

<a href="/collectie" class="nav-item active">
🌸
<span>Collectie</span>
</a>

</nav>
  
{% render 'partials/foot.liquid' %}